@import "tailwindcss";

:root {
  --background: #3a53ba;
  --foreground: #01f2f2;
  --heading: #f2df79;
  --accent: #f37406;
  --deep-blue: #040dbf;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #3a53ba;
    --foreground: #01f2f2;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), "Space Grotesk", "Inter", system-ui,
    -apple-system, sans-serif;
  letter-spacing: -0.01em;
}

.font-title {
  font-family: "ATRotisSemiSans-ExtraBold", var(--font-geist-sans), "Inter",
    system-ui, sans-serif;
  letter-spacing: -0.02em;
}

.font-subtitle {
  font-family: "ATRotisSemiSans-Light", var(--font-geist-sans), "Inter",
    system-ui, sans-serif;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fade-in-up 1s ease-out;
}

@keyframes image-enter {
  from {
    opacity: 0;
    transform: scale(0.95) translateY(10px);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.animate-image-enter {
  animation: image-enter 0.5s ease-out;
}
